// Import all the variables into the main css file.
@import "variables";

// I gather this file is a starting point for the project.
@import "bootstrap";

// Include responsive Bootstrap styles
@import "bootstrap-responsive";

// 找font.scss並引入，前面加上_就不會生成font.css檔案
@import "font";
// gd- prefix:
// A prefix (stands for "grabikon design") chosen to avoid class name collisions
// with Twitter Bootstrap class names.

.gd-header{
  ul{
    list-style-type: none;
  }
}
.affix {
    background: #fff;
    width: 100%;
    top: 0;
    @include box-shadow(0 0 16px rgba(#000, 0.15));
    
    .gd-header{
    // Hide page title
    h1{
      display: none;
    }
  }
    // The next element should have a top-margin so that the entire page
    // dont jump high when .affix is applied.
    // 之後所有元素都要有這個margin
    + *{
      margin-top: 90px;
    } 
}

.hero-unit{
  background: image-url('slider.png');
  
  h2 span{
    padding: 0 0.25em;
    font-size: 72px;
    line-height: 100px;
    background: rgba(#000, 0.6);
    color: #fff;
    font-weight: normal;
  }
}

.gd-expertise{
  .progress-striped .bar{
    background-color: #5BC0DE;
  }
}

.gd-well{
  margin: 5em 0;

  h3, p{
    margin: 0;
  }
  .btn{
    margin-top: 15px;
  }
}

.gd-service{
  background: image-url('dark-bg.jpg');
  padding: 5em 0;
  margin-bottom: 5em;

  h1{
    color: #fff;
  }

  .well{
    height: 550px;
    border: 1px solid #666;
    background: #000;
    color: #fff;
  }
  
  .icon-screen, .icon-earth, .icon-quill{
    $icon-size: 60px;
    font-size: $icon-size;
    width: $icon-size;
    height: $icon-size;
  }
}

.gd-contact{
  padding-bottom: 5em;
}

#gd-map-canvas{
  width: 100%;
  height: 360px;
}